@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cultured: hsl(0, 0%, 93%);
    --deep-saffron: hsla(195, 100%, 44%, 1);
    --orlic-blue: hsla(227, 83%, 36%, 1);
}


/* Scrollbar Styling */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--cultured); }
::-webkit-scrollbar-thumb { background-color: var(--deep-saffron); }
::-webkit-scrollbar-thumb:hover { background-color: var(--orlic-blue); }

@keyframes scaleUp {
    0% {
      transform: scale(1);
  }
  
  100% {
      transform: scale(1.05);
  }
  }

  
  @layer utilities {
    .scroll-snap-inline {
      scroll-snap-type: inline mandatory;
    }
  
    .scrollbar::-webkit-scrollbar { height: 12px; }
  
    .scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
  
    .scrollbar::-webkit-scrollbar-track {
      outline: 2px solid var(--deep-saffron);
      border-radius: 2px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      border: 3px solid var(--cultured);
      border-radius: 12px;
    }
  }